<html>
<head>
  <title>Amandine</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/custom.css" rel="stylesheet">

  <script src="/vendors/angular.js"></script>
  <script src="/vendors/angular-ui-router.js"></script>
    
  <script src="/javascripts/angularApp.js"></script>
  <script src="/javascripts/controllers/MainCtrl.js"></script>
  <script src="/javascripts/controllers/EleveCtrl.js"></script>
  <script src="/javascripts/controllers/AuthCtrl.js"></script>
  <script src="/javascripts/controllers/ManageCtrl.js"></script>
  <script src="/javascripts/controllers/NavCtrl.js"></script>
  <script src="/javascripts/controllers/EleveRecapCtrl.js"></script>
    
  <script src="/javascripts/factory/auth.js"></script>
  <script src="/javascripts/factory/eleves.js"></script>
  <script src="/javascripts/factory/skillpaterns.js"></script>
    
  <script src="/javascripts/directives/upload.js"></script>


  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>
<body ng-app="amandine">
  <nav class="navbar navbar-inverse" ng-controller="NavCtrl">
    <ul style="float:right;" class="nav navbar-nav">
      <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
      <li ng-show="isLoggedIn()"><a href="#/home">Accueil eleves</a></li>
      <li ng-show="isLoggedIn()"><a href="#/manage" >Gérer</a></li>
      <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Deconnexion</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Se connecter</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">S'enregistrer</a></li>
    </ul>
  </nav>
  <div>

      <ui-view></ui-view>

  </div>

  <script type="text/ng-template" id="/home.html">
     

    <div style="text-align: center;" ng-hide="isLoggedIn()">
      <h3>Vous devez vous <a href="/#/login">connecter</a> ou vous <a href="/#/register">Inscrire</a> avant d'utiliser l'application.</h3>
    </div>
    <div ng-show="isLoggedIn()" style="display: inline; " ng-repeat="eleve in user.eleves">
        <img ng-click="eleveViewEngine(eleve);" class="imageEleveMain" ng-src="/uploads/eleves/{{eleve.trombi}}">
    </div>
    <div style="text-align: center;" ng-show="isLoggedIn()">
      <h3>Vous pouvez ajouter des éleves dans l'onglet <a href="/#/manage">Gérer</a></h3>
    </div>
    
  </script>
  
  <script type="text/ng-template" id="/eleve.html">
    <div style="text-align: center;" ng-show="isLoggedIn()">
      <h3>Vous devez vous <a href="/#/login">connecter</a> ou vous <a href="/#/register">Inscrire</a> avant d'utiliser l'application.</h3>
    </div>
    <div ng-hide="isLoggedIn()" ng-include src="'/views/main.ejs'"></div>
  </script>
    
  <script type="text/ng-template" id="/eleverecap.html">
    <div style="text-align: center;" ng-hide="isLoggedIn()">
      <h3>Vous devez vous <a href="/#/login">connecter</a> ou vous <a href="/#/register">Inscrire</a> avant d'utiliser l'application.</h3>
    </div>
     <div ng-show="isLoggedIn()" ng-include src="'/views/eleverecap.ejs'"></div>
  </script>
  
  <script type="text/ng-template" id="/manage.html">    
     <div style="text-align: center;" ng-hide="isLoggedIn()">
      <h3>Vous devez vous <a href="/#/login">connecter</a> ou vous <a href="/#/register">Inscrire</a> avant d'utiliser l'application.</h3>
     </div>
     <div ng-show="isLoggedIn()" class='leftManage' ng-include src="'/views/eleves.ejs'"></div>
     <div ng-show="isLoggedIn()" class='rightManage' ng-include src="'/views/skillpaterns.ejs'"></div>
  </script>  
    
    
<script type="text/ng-template" id="/register.html">
      <div class="page-header">
        <h1>Amandine</h1>
      </div>


    <div class="col-md-6 col-md-offset-3">
        <div ng-show="error" class="alert alert-danger row">
            <span>{{ error.message }}</span>
        </div>

          <form ng-submit="register()"
            style="margin-top:30px;">
            <h3>S'enregistrer</h3>

            <div class="form-group">
              <input type="text"
              class="form-control"
              placeholder="Nom d'utilsateur (sans majuscules)"
              ng-model="user.username"></input>
            </div>
            <div class="form-group">
              <input type="password"
              class="form-control"
              placeholder="Mot de passe"
              ng-model="user.password"></input>
            </div>
            <button type="submit" class="btn btn-primary">S'enregistrer</button>
          </form>
    </div>  
</script>
    
    
<script type="text/ng-template" id="/login.html">
  <div class="page-header">
    <h1>Amandine</h1>
  </div>
  <div class="col-md-6 col-md-offset-3">
      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>

      <form ng-submit="logIn()"
        style="margin-top:30px;">
        <h3>Se connecter</h3>

        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Nom d'utilisateur"
          ng-model="user.username"></input>
        </div>
        <div class="form-group">
          <input type="password"
          class="form-control"
          placeholder="Mot de passe"
          ng-model="user.password"></input>
        </div>
        <button type="submit" class="btn btn-primary">Se connecter</button>
      </form>
    </div>
</script>
    
  
</body>

</html>