.rightManage{
      border-left: solid;
    width:50%;
    float:right;
    padding-left: 50px;
    padding-right: 50px;
}

.leftManage{
     width:50%;
    float:left;
    padding-left: 50px;
    padding-right: 50px;
}

.btnSup{
    
    padding: 2px 5px;
    font-size: 10px;
}

.formStep{
    width:50%;
}

.imageEleveMain{
    width: 250px;
    height: 320px;
    margin-left : 20px;
    margin-right: 20px;
    margin-bottom: 20px;

}

.labelSkillEleve{
    font-size: 15px;
    margin-right: 20px
}

.skillToShowLeft{
        position: relative;
    float: left;
    width:50%;
        height: 40%;
    vertical-align: middle;
    text-align: center;
    border-right: solid;
}

.skillToShowRight{
        position: relative;
    float: right;
      width:50%;
    height: 40%;
    vertical-align: middle;
    text-align: center;
}

.imageSkill{
        margin: auto;
    text-align: center;
    width: 40%;
    height: 80%;
}


.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
        margin-top: 30%;
    font-size: 1.8rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.inputfile + label {
    color: #f1e5e6;
    background-color: #3b8438;
}

.iconPhoto {
    color : white;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-right: 0.25em;
}

